.blog-slider.swiper-container-fade.swiper-container-horizontal#swiper_container
  .blog-slider__wrp.swiper-wrapper(style='transition-duration: 0ms;')
    each item in swiper_list
      .blog-slider__item.swiper-slide(style='width: 750px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;')
        a.blog-slider__img(href='#{item.path}'  alt='')
          img(width='48' height='48' src='#{item.cover}' onerror=`this.onerror=null;this.src='` + #{error_img} + `'`, alt='')
        .blog-slider__content
          if (timemode === 'updated' )
            span.blog-slider__code= #{item.updated}
          else
            span.blog-slider__code= #{item.date}
          a.blog-slider__title(href='#{item.path}' alt='')= #{item.title}
          .blog-slider__text= #{item.description}
          a.blog-slider__button(href='#{item.path}'  alt='')= 详情    
  .blog-slider__pagination.swiper-pagination-clickable.swiper-pagination-bullets
